#section1{
    margin-bottom: 130px;
    background-color: #C8EBFF;
    height: 850px;

    .section1{
        display: flex;
        
        align-items: center;
       
        
    }
.button{
    background-color: #2577FD;
    padding: 15px 40px 15px 40px;

    border-radius: 50px;
    border: none;
    color: white;
    font-size: 20px;
}


.text{
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    h3{
        color: #2577FD;
        font-style: italic;
        font-size: 40px;
    }
    h1{
        font-size: 60px;
    }
    p{
        font-style: italic;
        font-size: 
        20px;
    }
}


}

#section2{
    margin-bottom: 150px;
    .category{
       display: flex;
       flex-direction: column;
       gap: 3rem;
       
    }
    .h1{
        text-align: center;
        font-size: 50px;
    }
    
    .row{
        gap: 8rem;
    }
    .img3{
        width: 400px;
        height: 342px;
    }

}


#section3{
    margin-left: 250px;
    .latestproduct{
        h1{
            font-size: 50px;
        }
    }
}
#section8{
    margin-top: 100px;
    margin-bottom: 150px;

    .cards{
display: flex;  
margin-left: 50px;  }
}

#section7{
    margin-top: 100px;
    margin-bottom: 100px;
    
    p{
        max-width: 200px;
    }
    .cards{
        display: flex;
        gap:  8rem;
   
    }
    .card1{
        .icon{
            font-size: 40px;
        }
        h1{
            font-size: 25px;
        }
    }
    .cards{
     display: flex;
     flex-direction: row;
    justify-content: space-evenly;
    }

}




